@font-face {
    font-family: myfont;
    src: url(Assets\fonts\Orbitron\Orbitron-VariableFont_wght.ttf);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: myfont;
}

a{
    text-decoration: none;
    color: #fff;
}

body {
    color: #fff;
    background-color: #000; /* Setting a fallback color */
    background-image: 
        radial-gradient(circle at 10% 20%, rgba(255, 0, 0, 0.8), transparent),
        radial-gradient(circle at 80% 60%, rgba(255, 204, 0, 0.8), transparent),
        radial-gradient(circle at 30% 80%, rgba(153, 0, 153, 0.8), transparent),
        radial-gradient(circle at 70% 30%, rgba(0, 255, 255, 0.8), transparent),
        radial-gradient(circle at 20% 90%, rgba(255, 255, 255, 0.8), transparent),
        radial-gradient(circle at 50% 40%, rgba(255, 102, 0, 0.8), transparent),
        radial-gradient(circle at 90% 80%, rgba(255, 0, 0, 0.8), transparent),
        radial-gradient(circle at 5% 70%, rgba(255, 204, 0, 0.8), transparent),
        radial-gradient(circle at 45% 15%, rgba(0, 255, 0, 0.8), transparent),
        radial-gradient(circle at 80% 90%, rgba(255, 255, 255, 0.8), transparent);
    min-height: 100vh;
}

body::-webkit-scrollbar{
    width: 0.25rem;
}
body::-webkit-scrollbar-track{
    background: #1e1e24;
}
body::-webkit-scrollbar-thumb{
    background:#6649b8;
}

.greet_container{
    display: flex;
    justify-content: center;
}
.glass-greet_container{
    display:  block;
    max-width: 80vw;
    margin-top: 10vh;
    margin-bottom: 30px;
    background: rgba(0,0,0,0.30);
    padding: 50px;
    border-radius: 16px;
    user-select: none;
    box-shadow: 0 4px 30px rgba(0,0,0,0.1);
    backdrop-filter: blur(11.6px);
    --webkit-backdrop-filter: blur(11.6px)
    
}

.logo{
    display: inline-block;
    font-size: 40px;
    font-weight: 600;
    margin-top: -10px;
    margin-left: 300px;
}

ul.nav_link{
    margin: 0;
    float: right;
    display: flex;
    list-style: none;
}

li.nav_link{
    display: inline-block;
    margin-left: 17px;
    font-size: 17px;
    font-weight: 300;
}
.content{
    display: flex;
    width: 100%;
}

.main{
    margin-top: 10vh;
    display: inline-block;
    padding: 20px;
}

.main h2{
    font-size: 35px;
    user-select: none;
    margin-bottom: 25px;
}
.main p{
    font-size: 16px;
    line-height: 23px;
    user-select: none;
}


.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #2668db;
    color: #fff;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 10px;
    cursor: pointer;
    user-select: none;
    transition: all 0.3s ease; 
    margin-top: 30px;
}
.button:hover {
    border-color: #2668db;
    background-color: transparent;
}


.image_wrapper{
    display: flex;
    margin-top: 5vh;
    position: relative;
}

.image_wrapper img{
    max-width: 250px;
}






.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    width: 80px;
    height: 100%;
    background:  transparent;
    backdrop-filter: blur(40px);
    border-right: 2px solid rgba(255,255,255,.2);
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    padding:6px 14px;
    transition: .5s;
    user-select: none;
}

.sidebar.active{
    width: 260px;
}   



.sidebar .logo_menu{
    display: flex;
    align-items: center;
    width: 100%;
    height: 70px;

}
.sidebar .logo_menu .logo{
  font-size: 25px;
  color: #fff;
  pointer-events: none;
  opacity: 0;
  transition: .3s;

}
.sidebar.active .logo_menu .logo{
    opacity: 1;
    transition-delay: .2s;
}


.sidebar .logo_menu  .toggle-btn{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 40px;
    height: 40px;
    font-size: 22px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    transition: .5s;
  
  }
.sidebar.active .logo_menu  .toggle-btn{
    left: 90%;
  }




.sidebar .list{
    margin-top: 10px;
}
.list .list_items{
    list-style: none;
    width: 100%;
    height: 50px;
    margin: 5px 0;
    line-height: 50px;
}

.list .list_items a {
    display:flex;
    align-items: center;
    font-size: 18px ;
    color: #fff;
    text-decoration: none;
    border-radius: 6px;
    white-space: nowrap;
    transition: .5s;
}

.list .list_items.active a,
.list .list_items a:hover{
    background: rgba(255,255,255,.2);
}


.list .list_items a i {
    min-width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
}


.sidebar .link_name{
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s ;
}
.sidebar.active .link_name{
    opacity: 1;
    pointer-events: auto;
    transition-delay: calc(.1s * var(--i));
}



/* MEDIA  QUARRY*/

@media screen and (max-width:
1075px) {
        .content{
            flex-direction: column;
        }    
}
@media screen and (max-width:
720px) {
    .logo{
        font-size: 22px;
    }
    .li.nav_link{
        font-size: 13px;
    }
    .main h2{
        font-size: 28px;
    }
    .main p {
        font-size: 15px;
    }
    .button{
        font-size: 13px;
    }
    .image_wrapper img{
        max-width: 400px;
    }
}